header {
   
    background-image: url(../img/hero.jpg);
    background-attachment: fixed;
    color: #FFF;
    background-size: cover;
    background-position: center center;
}

body {
    padding-top: 50px;
}

@font-face {
    font-family: 'SolomonSansBlack';
    src: url('fonts/SolomonSansBlack.eot');
    src: url('fonts/SolomonSansBlack.eot') format('embedded-opentype'),
         url('fonts/SolomonSansBlack.woff2') format('woff2'),
         url('fonts/SolomonSansBlack.woff') format('woff'),
         url('fonts/SolomonSansBlack.ttf') format('truetype'),
         url('fonts/SolomonSansBlack.svg#SolomonSansBlack') format('svg');
}


@font-face {
    font-family: 'bebas_neue_regular';
    src: url('fonts/bebas_neue_regular.eot');
    src: url('fonts/bebas_neue_regular.eot') format('embedded-opentype'),
         url('fonts/bebas_neue_regular.woff2') format('woff2'),
         url('fonts/bebas_neue_regular.woff') format('woff'),
         url('fonts/bebas_neue_regular.ttf') format('truetype'),
         url('fonts/bebas_neue_regular.svg#bebas_neue_regular') format('svg');
}


h1 {
    font-size: 45px;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.37);
}

h2 {
    font-size: 40px;
}

@media (min-width: 768) {
    .btn {
        font-size: 50px;
    }
    
    #space1 {
        padding-top:  150px;
    }
    
    header {
        background-attachment: fixed;
    }
    

    
}


@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 25px;
    }
    
        #button1 {
        font-size: 20px;
    }
    
}


hr {
    width: 100px;
}


.btn {
    font-family: 'bebas_neue_regular';
    font-size: 30px;
    font-weight: 500;
}
    
    
#button1 {
    -webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.4);
    
}
    
    
#img1, #img2, #img3 {
    color: white;
}
    
    
    
    
    
    
    

